.cache
.cargo
.huggingface
.nv
.rustup
.ssh

.bash_history
.bash_logout
.lesshst
.profile
.python_history
.sudo_as_admin_successful
.viminfo
.wget-hsts

rust
python
generated


.local
.config/gh
.config/htop
.config/omf
